@{
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Estilos/estilos.css">
    <title>Contact Information</title>
</head>
<body>
    <div class="contact-container">
        <div class="contact-image">
            <img src="~/Imagenes/gato.jpg" alt="Imagen de la persona">
        </div>
        <div class="contact-info">
            <h1>Nombre: Jose Gabriel Boyan Vaca</h1>
            <p>Número de celular: 77259056</p>
            <p>Correo: gabo05gabriel@gmail.com</p>
            <p>Si tienes algun error en la plataforma no dudes en avisarme :)</p>
        </div>
    </div>
</body>
</html>
