<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina De Inicio</title>
    <link rel="stylesheet" href="~/Estilos/indexx.css">
</head>
<body>
    <h1>Hola</h1>
    <header>
        <img src="~/Imagenes/logo ofi 2.png" alt="Courier Bolivian Express">
    </header>
    <section class="descripcion">
        <h2>Bienvenido a Courier Bolivian Express S.R.L.</h2>
        <p>Esta página está diseñada para que puedas registrar tus pasajes diarios de manera rápida y sencilla. Nuestro servicio de courier te brinda la mejor solución para tus necesidades de envío y entrega. Estamos comprometidos en ofrecer un servicio confiable y eficiente.</p>
    </section>


    <section class="galeria">
        <img src="~/Imagenes/courierpixar.jpg" alt="Imagen 1" onmouseover="hacerMasGrande(this)" onmouseout="hacerNormal(this)">
        <img src="~/Imagenes/courierpixar3.jpg" alt="Imagen 2" onmouseover="hacerMasGrande(this)" onmouseout="hacerNormal(this)">
        <img src="~/Imagenes/courierpixar2.jpg" alt="Imagen 3" onmouseover="hacerMasGrande(this)" onmouseout="hacerNormal(this)">
        <img src="~/Imagenes/cbe4.jpg" alt="Imagen 4" onmouseover="hacerMasGrande(this)" onmouseout="hacerNormal(this)">
        <img src="~/Imagenes/cbe5.jpg" alt="Imagen 5" onmouseover="hacerMasGrande(this)" onmouseout="hacerNormal(this)">

    </section>


    
</body>
</html>
